.login-form {
  md-card {
    padding: 0!important;

    md-card-title {
      background-color: blue;
    }
  }
}

.signUp{

	position: relative;
	left: 10px;
	display: inline-block;
	font-size: 12px;
}

.invalid-msg{
	font-size: 12px;
	color: red;
}

.header{
	width: 100%;
	display: block;
	position: fixed;
}

.content{
	width: 100%;
	position: fixed;

}

ul{
	padding: 0px 0px;
	margin: 0px 0px;
}

li{
	list-style-type: none;
	margin: 0px;
	padding: 15px 15px;
}

li:hover{
	background-color: #e6e6e6;

}

.cardContent{
	padding: 10px 20px;
}
