<!DOCTYPE html>
<html ng-app='app.login'>
<head>
	
	<style>
       #map_canvas {
        height: 400px;
        width: 100%;
       }
       .angular-google-map-container {                      
            height: 400px;
        }
    </style>


	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>



	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
	<link rel="stylesheet" href="/assets/css/custom.css"/>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>Jambo Data Capture</title>

</head>
<body>
<div ng-view ></div>
	<!--<div ng-controller = LoginController class="container"><!-- decaring ng-controller for the login -->
		<!--<div class="page-header"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h4>Log in to jambo</h4></div>
				<div class = "modal-body"> 
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label  class="col-sm-2 control-label"
							for="inputEmail3">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" 
								id="inputEmail3" placeholder="Email"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"
							for="inputPassword3" >Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control"
								id="inputPassword3" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label>
										<input type="checkbox"/> Remember me
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Sign in</button>
								No account? <a ng-click ="registerNewUser()">Sign up</a>					
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>-->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBqtRuMOV7OuM6hO4i-_RZEDnUzjm555fk'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.1/angular-google-maps.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
<script src="routes/user.js"></script>
<script src="controllers/LoginController.js"></script>
<script src="controllers/RegisterController.js"></script>
<script src="controllers/JamboController.js"></script>
<script src="services/userservice.js"></script>

</html>