<!DOCTYPE html>
<html ng-app='app.login'>
<head>
	

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		#map {
			height: 200px;
			width: 100%;
		}
	</style>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>Jambo Data Capture</title>

</head>
<body>
	<div ng-view></div>
	<!--<div ng-controller = LoginController class="container"><!-- decaring ng-controller for the login -->
		<!--<div class="page-header"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h4>Log in to jambo</h4></div>
				<div class = "modal-body"> 
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label  class="col-sm-2 control-label"
							for="inputEmail3">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" 
								id="inputEmail3" placeholder="Email"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"
							for="inputPassword3" >Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control"
								id="inputPassword3" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label>
										<input type="checkbox"/> Remember me
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Sign in</button>
								No account? <a ng-click ="registerNewUser()">Sign up</a>					
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>-->
	<div id="map">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqtRuMOV7OuM6hO4i-_RZEDnUzjm555fk"></script>
		<script>
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: -34.397, lng: 150.644},
					zoom: 8
				});
		</script>
		</div>
	</div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="routes/user.js"></script>
<script src="controllers/LoginController.js"></script>
<script src="controllers/RegisterController.js"></script>
<script src="controllers/JamboController.js"></script>
<script src="services/userservice.js"></script>
</html>