<div ng-controller="jamboController" ng-cloak>
	<md-toolbar style="float: left; overflow: hidden;">
		<div class="md-toolbar-tools">
			<h2 flex md-truncate>JAMBO</h2>
			<md-button  ng-click="showSearch()">{{ViewText}}
			</md-button>
			<md-button ng-show="ResultMode" class="md-icon-button" aria-label="Search">
				<md-icon md-svg-icon="../assets/img/icons/ic_search_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div ng-show="ResultMode" layout-align="space-around" layout-padding="layout-padding" >	 
			<md-card  style="width: 50%;" ng-repeat="record in CAPTUREDUSERS">
				<md-card-content class="md-no-momentum">
					<div class="cardContent">
					<md-label style="font-weight: bold">First Name: </md-label>
					<span ng-hide="record.editing" ng-dblclick="editItem(record)">{{record.firstName}}</span>
					<md-input-container md-no-float ng-show="record.editing">
						<input aria-label="firstName" ng-model="record.firstName" ng-blur="doneEditing(record)" required="" autofocus />
					</md-input-container>
				</div>
				<div class="cardContent">
					<md-label style="font-weight: bold">Surname: </md-label>
					<span ng-hide="record.editing" ng-dblclick="editItem(record)">{{record.surname}}</span>
					<md-input-container md-no-float ng-show="record.editing">
						<input aria-label="surname" ng-model="record.surname" ng-blur="doneEditing(record)" required="" autofocus />
					</md-input-container>
				</div>
				<div class="cardContent">
					<md-label style="font-weight: bold">Email Address: </md-label>
					<span ng-hide="record.editing" ng-dblclick="editItem(record)">{{record.contact.email}}</span>
					<md-input-container md-no-float ng-show="record.editing">
						<input aria-label="email" ng-model="record.contact.email" ng-blur="doneEditing(record)" required="" autofocus />
					</md-input-container>
				</div>
				<div class="cardContent">
					<md-label style="font-weight: bold">Phone: </md-label>
					<span ng-hide="record.editing" ng-dblclick="editItem(record)">{{record.contact.phone}}</span>
					<md-input-container md-no-float ng-show="record.editing">
						<input aria-label="phone" ng-model="record.contact.phone" ng-blur="doneEditing(record)" required="" autofocus />
					</md-input-container>
				</div>
				<div class="cardContent">
					<md-label style="font-weight: bold">Address: </md-label>
					<span ng-hide="record.editing" ng-dblclick="editItem(record)">{{record.contact.address}}</span>
					<md-input-container md-no-float ng-show="record.editing">
						<input aria-label="address" ng-model="record.contact.address" ng-blur="doneEditing(record)" required="" autofocus />
					</md-input-container>
				</div>
				<div class="cardContent">
					<md-button style="padding-left: 0px; margin-left: 0px" class="md-primary"  ng-click ="updateUser(record)">Update</md-button>
					<md-button type="button"  ng-click ="removeUser(record.id)" >Remove</md-button>
				</div>
				</md-card-content>				
			</md-card>
	</div>
	<div layout="row" layout-align="space-around" layout-padding="layout-padding" ng-show="!ResultMode">	
		<md-card style="width: 50%" >
			<md-card-content class="md-no-momentum">
				<form name ="captureForm" role="form" ng-submit="submitform()">
					<md-input-container md-no-float class="md-block">
						<md-icon md-svg-src="../assets/img/icons/ic_person_24px.svg" class="name"></md-icon>
						<input ng-model="user.firstName" type="text" placeholder="First Name" required="" >
					</md-input-container>
					<md-input-container md-no-float class="md-block">
						<md-icon md-svg-src="../assets/img/icons/ic_person_24px.svg" class="name"></md-icon>
						<input ng-model="user.surname" type="text" placeholder="Surname" required="">
					</md-input-container>
					<md-input-container md-no-float class="md-block">
						<md-icon md-svg-src="../assets/img/icons/ic_person_24px.svg"></md-icon>
						<input ng-model="user.id" type="text" placeholder="ID" required="">
					</md-input-container>
					<md-input-container md-no-float class="md-block">
						<md-icon md-svg-src="../assets/img/icons/ic_phone_24px.svg"></md-icon>
						<input ng-model="user.contact.phone" type="text" placeholder="Phone Number" required="">
					</md-input-container>

					<md-input-container md-no-float class="md-block">
						<md-icon md-svg-src="../assets/img/icons/ic_email_24px.svg" class="email"></md-icon>
						<input ng-model="user.contact.email" type="email" placeholder="Email (required)" required="true">
					</md-input-container>
					<div layout="row">
						<md-input-container flex md-no-float class="md-block">
							<md-icon md-svg-src="../assets/img/icons/ic_place_24px.svg"></md-icon>
							<input flex ng-model="user.contact.address" type="text" placeholder="Address" required="" >
						</md-input-container>
						<md-input-container>
							<md-button aria-label="findplace" ng-click = 'findAddress(user.contact.address)' arial-label="Find" class="md-icon-button">
								<md-icon md-svg-icon="../assets/img/icons/ic_search_24px.svg"/>
							</md-button>
						</md-input-container>
					</div>
					<md-input-container>
						<div id="map_canvas">
							<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events = "map.events">
								<ui-gmap-marker coords="marker.coords" options="marker.options" events = "marker.events" idkey="marker.id">
								</ui-gmap-marker>
							</ui-gmap-google-map>
						</div>
					</md-input-container>
					<div layout=row>
						<md-input-container class="md-block">
							<md-button  class="md-primary" type="submit">Submit</md-button>
						</md-input-container>
						<md-input-container style="margin: auto" flex>
							<b>{{message}}</b>
						</md-input-container>
					</div>
				</form>
			</md-card-content>		
		</md-card>

	</div>
</div>

<!-- <div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#single">Capture Data</a></li>
		<li><a data-toggle="tab" href="#multi">View and Edit</a></li>
	</ul>
	<div ng-controller="jamboController" class="tab-content">
		<div id="single"  class="tab-pane fade in active"><!-- decaring ng-controller for the login -->
			<!-- <div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h4>Capture User Data</h4></div>
					<div class = "modal-body"> 
						<div ng-if="fail" class="alert alert-danger">{{message}}</div>
						<div ng-if="success" class="alert alert-success">{{message}}</div>
						<form  name="captureForm" class="form-horizontal" role="form" ng-submit="submitform()">
							<div class="form-group" >
								<label  class="col-sm-4 control-label"
								for="inputFirstName">First Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" 
									id="inputFirstName" placeholder="First Name" ng-model="user.firstName" required/>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-sm-4 control-label"
								for="inputLastName">Surname</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" 
									id="inputLastName" placeholder="Surname" ng-model="user.surname" required/>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-sm-4 control-label"
								for="id">ID</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" 
									id="id" placeholder="ID" ng-model="user.id" ng-maxlength = "maxLength" required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label"
								for="phone" >Phone</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"
									id="phone" placeholder="Phone" ng-model="user.contact.phone" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label"
								for="email" >Email</label>
								<div class="col-sm-8">
									<input type="email" class="form-control"
									id="email" placeholder="Email" ng-model="user.contact.email", required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label"
								for="address" >Address</label>
								<div class="col-sm-6">
									<textarea class="form-control" rows=4
									id="address" placeholder="Address" ng-model="user.contact.address". required>{{user.contact.address}}</textarea>								
								</div>	
								<div class="col-sm-2">
									<button type="button" ng-click = 'findAddress(user.contact.address)' class="btn btn-default btn-sm btn-block">Find</button>	
								</div>													
							</div>
							<div class="form-group">
								<div id="map_canvas">
									<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events = "map.events">
										<ui-gmap-marker coords="marker.coords" options="marker.options" events = "marker.events" idkey="marker.id">
        								</ui-gmap-marker>
									</ui-gmap-google-map>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-8">
									<button type="submit" class="btn btn-primary col-sm-4">Upload</button>
									<button type="reset" class="btn btn-default col-sm-offset-1 col-sm-4">Cancel</button>											
								</div>
							</div>						
						</form>						
					</div>			
				</div>
			</div>


		</div>
		<div id="multi" class="tab-pane fade">
			<h1 ng-click="refresh()">Captured Records</h1>
			<table class="table">
				<thead>
					<tr>
						<th class ="col-md-2">First Name</th>
						<th class ="col-md-2">Surname</th>
						<th class ="col-md-2">ID</th>
						<th class ="col-md-2">Email</th>
						<th class ="col-md-2">Phone</th>	
						<th class ="col-md-1"></th>	
						<th class ="col-md-1"></th>							
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in CAPTUREDUSERS">
						<td class ="col-md-1">
							<span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.firstName}}</span>
							<input class="form-control" ng-show="person.editing" ng-model="person.firstName" ng-blur="doneEditing(person)" autofocus />
						</td>
						<td class ="col-md-1">
							<span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.surname}}</span>
							<input class="form-control" ng-show="person.editing" ng-model="person.surname" ng-blur="doneEditing(person)" autofocus />
						</td>
						<td class ="col-md-2">
							<span>{{person.id}}</span>							
						</td>
						<td class ="col-md-2">
							<span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.contact.email}}</span>
							<input class="form-control" ng-show="person.editing" ng-model="person.contact.email" ng-blur="doneEditing(person)" autofocus />
						</td>
						<td class ="col-md-2">
							<span ng-hide="person.editing" ng-dblclick="editItem(person)">{{person.contact.phone}}</span>
							<input class="form-control" ng-show="person.editing" ng-model="person.contact.phone" ng-blur="doneEditing(person)" autofocus />
						</td>
						<td class ="col-md-1"><button class="btn btn-primary btn-sm btn-block" ng-click = "updateUser(person)">Update</button></td>
						<td class ="col-md-1"><button class="btn btn-danger btn-sm btn-block" ng-click = "removeUser(person.id)">Remove</button></td>						
						<td></td>						
					</tr>				
				</tbody>
			</table>
		</div>		
	</div>
</div> -->