<md-content ng-controller="loginController" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33" style="margin: 0px; padding: 0px">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Login to Jambo</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>Email</label>
              <input type="text" name="email" ng-model="user.email" required=""/>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="user.password" required="" />
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click=submitform() class="md-raised md-primary">&nbsp Login &nbsp</md-button>
            <div class='signUp'>
            	or <md-button class="md-primary" type="button" href="/register">Sign up</md-button>
            </div>
            <div ng-if="logerr" class="invalid-msg">{{message}}</div>
          </form>
        </md-card-content>
      </md-card>
</md-content>

<!-- 	<div class="page-header"></div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h4>Log in to jambo</h4></div>
			<div class = "modal-body"> 
			<div ng-if="logerr" class="alert alert-danger">{{message}}</div>
				<form class="form-horizontal" role="form" ng-submit="submitform()">
					<div class="form-group">
						<label  class="col-sm-2 control-label"
						for="inputEmail3">Email</label>
						<div class="col-sm-10">
							<input ng-model = "user.email" type="email" class="form-control" 
							id="inputEmail3" placeholder="Email"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
						for="inputPassword3" >Password</label>
						<div class="col-sm-10">
							<input ng-model="user.password" type="password" class="form-control"
							id="inputPassword3" placeholder="Password"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox"/> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
							No account? <a href="/register" ">Sign up</a>					
						</div>
					</div>
				</form>
			</div>
		</div> -->
<!-- 	</div>