<md-content ng-controller="registerController" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="100" flex-gt-md="33" style="margin: 0px; padding: 0px">
        <md-toolbar >
          <div class="md-toolbar-tools">
            <h2><span>Register</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form" ng-submit="submitform()">
            <md-input-container class="md-block">
              <label>First Name</label>
              <input type="text" name="firstName" ng-model="user.firstName" required=""/>
              <div ng-messages="Form.firstName.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your First Name.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Surname</label>
              <input type="text" name="surname" ng-model="user.surname" required=""/>
              <div ng-messages="Form.surname.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your Surname.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email</label>
              <input type="text" name="email" ng-model="user.email" required=""/>
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your Email Address.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="user.password" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your Password.</div>
                <div ng-message="md-maxlength" class="my-message">Password is too long</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" type="submit" class="md-raised md-primary">&nbsp Sign up &nbsp</md-button>
            <div class='signUp' layout="row">
            	or <md-button class="md-primary" href="/">Sign in</md-button>
            	<div ng-if="regerr" class="alert alert-danger">{{message}}</div>
				<div ng-if="regsuccess" class="alert alert-success">{{message}}</div>
            </div>
          </form>
        </md-card-content>
      </md-card>
</md-content>


<!-- <div  ng-controller="registerController" class="container"><!-- decaring ng-controller for the login -->
<!-- 		<div class="page-header"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h4>Register</h4></div>
				<div class = "modal-body"> 
					<div ng-if="regerr" class="alert alert-danger">{{message}}</div>
					<div ng-if="regsuccess" class="alert alert-success">{{message}}</div>
					<form class="form-horizontal" role="form" ng-submit="submitform()">
						<div class="form-group" >
							<label  class="col-sm-4 control-label"
							for="inputFirstName">First Name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" 
								id="inputFirstName" placeholder="First Name" ng-model="user.firstName"/>
							</div>
						</div>
						<div class="form-group">
							<label  class="col-sm-4 control-label"
							for="inputLastName">Last Name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" 
								id="inputLastName" placeholder="Last Name" ng-model="user.lastName"/>
							</div>
						</div>
						<div class="form-group">
							<label  class="col-sm-4 control-label"
							for="inputEmail3">Email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" 
								id="inputEmail3" placeholder="Email" ng-model="user.email"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label"
							for="inputPassword3" >Password</label>
							<div class="col-sm-8">
								<input type="password" class="form-control"
								id="inputPassword3" placeholder="Password" ng-model="user.password"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="submit" class="btn btn-default">Register</button>
								Have an account <a href="/" ">Sign in</a>					
							</div>
						</div>						
					</form>
				</div>
			</div>
		</div> -->
	</div>